<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2014 The Android Open Source Project

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apincer.android.uamp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".MusixMateApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!-- Main activity for music browsing on phone -->

        <activity
            android:name=".ui.MediaBrowserActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Music Tag Editor activity
        android:windowSoftInputMode="adjustPan|stateHidden"
        -->
        <activity
            android:name=".ui.MediaTagEditorActivity"
            android:parentActivityName=".ui.MediaBrowserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MediaBrowserActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
                <data android:scheme="file" android:host="*"/>
                <data android:mimeType="audio/*"/>
                <data android:pathPattern=".*\.mp3"/>
                <data android:pathPattern=".*\.flac"/>
                <data android:pathPattern=".*\.wav"/>
                <data android:pathPattern=".*\.m4a"/>
                <data android:pathPattern=".*\.alac"/>
                <data android:pathPattern=".*\.acc"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ui.AboutActivity"
            android:screenOrientation="portrait"/>

        <!-- Main music service, provides media browsing and media playback services to
         consumers through MediaBrowserService and MediaSession. Consumers connect to it through
         MediaBrowser (for browsing) and MediaController (for play session control) -->
        <service
            android:name=".MusicService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice"/>
        </service>
        <service android:name=".FileManagerService" android:exported="false"/>
        <service android:name=".MediaItemService" android:exported="false"/>
    </application>
</manifest>
