<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2014 The Android Open Source Project

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apincer.android.uamp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MusixMateApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="apincer.android.uamp.provider.MediaItemProvider"
            android:authorities="apincer.android.uamp.documents.MediaItemProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER"/>
            </intent-filter>
        </provider>
        <!-- Main activity for music browsing on phone -->

        <activity
            android:name=".ui.MediaBrowserActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Music Tag Editor activity -->
       <activity
           android:name=".ui.MetadataActivity"
           android:parentActivityName=".ui.MediaBrowserActivity"
           android:screenOrientation="portrait"
           android:windowSoftInputMode="adjustPan"
           android:label="@string/app_name">
           <meta-data
               android:name="android.support.PARENT_ACTIVITY"
               android:value=".ui.MediaBrowserActivity"/>
       </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ui.AboutActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".MusicService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice"/>
        </service>
        <service android:name=".FileManagerService" android:exported="false"/>
        <service android:name=".MediaItemService" android:exported="false"/>
    </application>
</manifest>
